<div class='row'>
{{#if isEdit}}
<!-- action='xxx' on='key-up' or key-up='actionname' -->
		<div class='large-5 column'>
			<div class='row collapse'>
				<div class='large-1 column'>
					{{input type='checkbox' checked=todo.isDone}}
				</div>
				<div class='large-11 column'>
					{{input value=todo.title key-up='exitEditWithEnter' bubbles=false class='focus'}}
				</div>
			</div>
		</div>
		<div class='large-7 column'>
			<span>{{todo.title}}</span>
			<button {{action 'toggleEdit' todo bubbles=false}} class='button tiny info'>Ok</button>
			<button {{action 'removeTodo' todo bubbles=false}} class='button tiny info'>Del</button>
			<!-- 这里没有双向绑定, 这个点能够感知 t.title 的变化, 但无法推送自己 value 的变化给 t.title -->
			<input value={{todo.title}} >
		</div>
{{else}}
	<div class='large-12 column'>
		{{input type='checkbox' checked=todo.isDone}}
		<span {{action 'toggleEdit' todo bubbles=false}}>{{todo.title}}</span>
		{{#if undo}}
		<button {{action 'undo' todo}} class='button tiny info'>Undo</button>
		{{/if}}
		<button {{action 'removeTodo' todo bubbles=false}} class='button tiny info'>Del</button>
	</div>
{{/if}}
</div>