<div class='row'>
	<div class='large-12 columns'>
		<h2 id="title" class=''>Welcome to Ember-CLI Todos App</h2>
		<nav>
			<ul>
				<li>{{#link-to 'todos'}}工作清单 Todos |{{/link-to}}</li>
				<li>{{#link-to 'archived'}}存档清单 Todos | {{/link-to}}</li>
        {{#if isAuthenticate}}
          <li>Hello {{currentUsername}}. <a {{action 'logout'}}>登出</a></li>
        {{else}}
          <li>{{#link-to 'session.new'}}登陆{{/link-to}}</li>
        {{/if}}
        <li><button class="tiny" {{action 'changeToken'}}>ChangeToken</button></li>

			</ul>
		</nav>
	</div>
</div>

<div class='row'>
	<div class='large-12 columns'>
    {{#if error}}
      <h3 style="color:red;">{{error}}</h3>
    {{/if}}
		{{outlet}}
	</div>
</div>