<div class='row'>
	<div class='large-12'>
		<ul>
			{{#each t in unArchive}}
				{{todo-item tagName='li' classNames='item' todo=t isEdit=false}}
			{{/each}}
			<li class='item'>
				Create New Todo: {{input value=todo.title on='key-press' action='newTodo'}}
        {{#unless todo.errors.isEmpty}}
          <div class="alert-box alert radius">
            {{#each message in todo.errors.messages}}
              {{message}}<br>
            {{/each}}
            <a href="#" {{action 'closeAlert'}} class="close">&times;</a>
          </div>
        {{/unless}}
			</li>
		</ul>

		<ul>
			<li>
				<button {{action 'archiveTodos'}} class='mini ui orange button'>Archive</button>
			</li>
		</ul>

		{{outlet}}
	</div>
</div>